{% extends 'common/base.html' %}

{% block content %}
    <div id="photo-details-container">
        <img class="img-photo-details" src="{{ photo.image.url }}" alt="">
        <div class="photo-details-inner-container">
            <p>{{ photo.title }}</p>
            <p>{{ photo.description }}</p>
            <p>{{ photo.upload_date | date:"d M Y"}}</p>
            <p>{{ photo.uploader.userprofile.first_name }} {{ photo.uploader.userprofile.last_name }}</p>
        </div>
        <div class="likes-container pictures">
            <span id="likes-count">{{ likes_count }}</span>
            <span id="likes">
                <a href="{% url 'like_photo' object_slug=photo.slug %}"><i class="fa-solid fa-heart"></i>likes</a>
            </span>
        </div>
        {% if photo.uploader.pk == request.user.pk %}
            <div class="delete-edit-photo-wrapper">
                <a class="btn edit-photo" href="{% url 'edit_photo' photo.slug %}">Edit</a>
                <a class="btn delete-photo" href="{% url 'delete_photo' photo.slug %}">Delete</a>
            </div>
        {% endif %}

    </div>


{% endblock %}