* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

html {
        font-family: 'Cabin', sans-serif;
}

body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: whitesmoke;
        color: #375d6f;
}

div.base-main-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        margin-top: 110px;
}

div.main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.4rem;
        flex: 1;
}

div.main-container.owner {
        margin-top: 5rem;
        row-gap: 5rem;
}

div.main-container.edit-profile {
        flex-direction: row;
        column-gap: 1.5rem;
}

div.main-container h1 {
        font-weight: lighter;
        color: #646262;
        font-size: 3rem;
        text-shadow: 1px 1px 2px #0e9c94;
}


img.logo {
        align-self: center;
        width: 19rem;
        height: 19rem;
        box-shadow: 0 0 25px 15px #ccc;
        margin-bottom: 2rem;
        border-radius: 100%;
}


a.button.welcome {
        text-decoration: none;
        font-size: 1.2rem;
}

div.login-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0c8380;
        width: 150px;
        height: 50px;
        border-radius: 12px;

}

div.login-wrapper:hover {
        box-shadow: 0 0 25px #375d6f;

}

div.login-wrapper a.button.welcome {
        color: whitesmoke;
        font-size: 1.5rem;
}


p.create-profile a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: #646262;

}

p.create-profile a:hover {
        text-decoration: underline;
        text-shadow: 1px 1px 2px #0e9c94;
}


div.view-profile-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
}

#img-profile-main {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #abefef;
        border-radius: 12px;
        padding: 2px;
}

#img-profile-main img {
        width: 200px;
        height: 200px;
        border-radius: 12px;
        box-shadow: 0 0 5px 5px #375d6f;
}

#view-profile-inner-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.3rem;
        width: 45%;
        padding: 0.5rem;
}

#profile_names {
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
        background-color: #abefef;
        border-radius: 8px;
        box-shadow: 4px 3px 6px 2px #a6afaf;
}
#profile_names p {
        font-size: 1.2rem;
        font-weight: bold;
}

#view-profile-inner-container a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        width: 100px;
        height: 30px;
        text-decoration: none;
        border-radius: 8px;

}

#profile_links,
#profile_names {
        width: 100%;
        display: flex;

}

div #profile_links {
        justify-content: space-evenly;
}

div #age-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        column-gap: 4rem;

}
div #age-container p {
        background-color: #abefef;
        padding: 0.2rem;
        border-radius: 8px;
        box-shadow: 4px 3px 6px 2px #a6afaf;
}

div #age-container p span {
        font-weight: bold;
}


#profile_links a:first-child {
        background-color: #375d6f;
}

#profile_links a:nth-child(2) {
    background-color: #d40c33;

}

#profile_links a:first-child:hover {
    box-shadow: 0 0 25px #375d6f;
}

#profile_links a:nth-child(2):hover {
    box-shadow: 0 0 25px #dc163c;
}


div.missing_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
}

div.missing_profile a,
a.owner-private-page {
    text-decoration: none;
    color: #375d6f;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #abefef;
}

div.missing_profile a:hover,
a.owner-private-page:hover {
    text-decoration: underline;
}


div.bio-container p:nth-child(2) {
        font-style: italic;
        border-top: 2px solid #375d6f;
        border-bottom: 2px solid #375d6f;
        padding-top: 0.5rem ;
        text-align: center;
}

p#bio {
        margin-bottom: 1rem;
        background-color: #abefef;
        border-radius: 8px;
        font-weight: bold;
        width: 3rem;
        text-align: center;
        font-size: 1.2rem;
        box-shadow: 4px 3px 6px 2px #a6afaf;
}

main.about-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-height: 100%;

}

main.about-container section {
        max-width: 30%;
}

main.about-container section:nth-child(2) {
        max-width: 35%;
}

section.business-img,
section.privet-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
        align-items: center;
        justify-content: space-between;
}

main.about-container section img {
        width: 45%;
        height: 35%;
}
section.description {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        max-height: 60%;
        margin: 0 1.5rem 0 1.5rem;
}

section.description h1 {
        text-align: center;
}

section.description p {
        line-height: 1.4;
        text-align: center;
}

div #about-page-login-link {
        align-self: center;
}


div #about-page-login-link a.btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        text-decoration: none;
}

div #about-page-login-link a.btn:hover {
        box-shadow: 0 0 25px #375d6f;
        background-color: #0e9c94;
}

div.delete-user,
div.delete-competition {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
}

div.delete-user input.btn {
        width: 9rem;
}
div.delete-user p {
        font-size: 1.2rem;
}

div.delete-competition {
    margin-top: 5rem;
}

div.delete-competition input {
    width: 150px;
}

.message {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.message.fade-out {
  opacity: 0;
  pointer-events: none;
}

#business-show-container,
#competition-show-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-self: center;
    /*width: 100%;*/
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #b9e5e2;
    box-shadow: 5px 4px 10px 8px #a3aaaa;
}

#business-show-container {
    width: 40%;
}

#competition-show-container{
    width: 100%;
}


#business-show-container p span,
#competition-show-container p span {
    font-weight: bold;
    margin-left: 0.5rem;
}

#business-show-container h2,
#competition-show-container h2{
    align-self: center;
}

a.owner-private-page {
    text-decoration: none;
    color: #375d6f;
}


div.delete-edit-business-wrapper,
div.delete-edit-competition-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

div.delete-edit-business-wrapper a,
div.delete-edit-competition-wrapper a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    text-decoration: none;
}

.btn.edit-business,
.btn.edit-competition {
    background-color: #375d6f;;
}

.btn.edit-business:hover,
.btn.edit-competition:hover{
    box-shadow: 0 0 25px #375d6f;
}

.btn.delete-business,
.btn.delete-competition {
    background-color: #d40c33;;
}

.btn.delete-business:hover,
.btn.delete-competition:hover {
    box-shadow: 0 0 25px #d40c33;
}

img.img-lake-details {
    width: 40%;
    height: 40%;
    align-self: center;
    border-radius: 10px;
}

#business-list-page {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 90%;
    column-gap: 1rem;
}

div.business-show-inner-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 90%;
    align-self: center;
}

div.pagination {
    align-self: center;
    margin-top: 1rem;
}

div.participant-list-link,
div.img-lake-details-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #375d6f;
    box-shadow: 2px 4px 8px 3px #646262;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}

div.participant-list-link:hover {
    width: 310px;
    height: 35px;
    box-shadow: 0 0 8px 6px #646262;
}

div.participant-list-link a,
div.img-lake-details-wrapper a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
}

div.competition-show-wrapper-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    margin: auto;
    width: 40%;
}

#sign-off-link {
    font-weight: bold;
    color: whitesmoke;
    background-color: #4d9bbf;
    padding: 0.2rem;
    border-radius: 8px;
    margin-left: 2rem;
}

#sign-off-link:hover {
    box-shadow: 0 0 6px 2px #375d6f;
}

#participant-info {
    text-decoration: underline;
}
