
img{
    height: 80px;
    width: 80px;

}

header {
    display: flex;
    width: 100%;
    background-color: #0e9c94;
    margin-right: auto;
    border: 3px solid #0e9c94;
    position: fixed;
    top: 0;
    margin-bottom: 1.2rem;
}

.nav-logo {
    margin-right: auto;

}

.nav-logo img {
    border-radius: 100%;
}

.nav-logo img:hover {
    box-shadow: 0 0 30px 5px whitesmoke;
}

.nav-content {
    align-self: end;
    margin-right: 10px;
    margin-bottom: 10px;
}



ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: end ;
}

li#profile-created,
li#no-profile {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;

}

#img-profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

ul.nav-links-registered {
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: end;
}

nav section ul li a {
    text-decoration: none;
    color: whitesmoke;
}


footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0e9c94;
    color: whitesmoke;
}

footer p {
    margin: auto;
}

footer p span {
    margin-left: 8rem;
}

#footer-container {
    display: flex;
    column-gap: 1rem;
    /*flex-direction: column;*/
    margin-right: 2rem;
}

#footer-container a.button {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0.5rem;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    text-decoration: none;
    color: #375d6f;
}

.dropdown-menu a:hover {
    text-shadow: 1px 1px 2px #0e9c94;
    font-size: 1.2rem;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}