table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
    border-radius: 8px;

}

caption {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #dad5d5;
    background-color: #b9e5e2;
    font-weight: bold;
}

th {
    background-color: #eae8e8;;
    color: #375d6f;
    text-align: center;
    padding: 8px;

}

td {
    border: 1px solid #dad5d5;;
    padding: 8px;
    text-align: center;
}

td a {
    text-decoration: none;
    color: #375d6f;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


div #lake-name-container,
div #competition-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #b9e5e2;
    box-shadow: 5px 4px 10px 4px #a3aaaa;
    border-radius: 8px;
    min-width: 65%;
    width: 70%;
}
div #lake-name-container:hover,
div #competition-name-container:hover{
    box-shadow: 0 0 16px 3px #0c8380;
}

.table-wrapper {
    width: 95%;
    box-shadow: 5px 4px 10px 8px #a3aaaa;
    border-radius: 15px;
    overflow: hidden;
    align-self: center;
}

#my-competitions, #my-adventures {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-start;
}


div.main-container.regular-private {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.regular-outer-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 47%;
}


#adventure-details-link{
    font-weight: bold;
    text-decoration: underline;
}


div.main-container.regular-private {

}