{% extends 'common/base.html' %}

{% block content %}
    <section id="reset-password-confirm-page">
        <form id="reset-password-confirm" method="post" enctype="multipart/form-data">
            <div class="reset-password-confirm-container">
                {% csrf_token %}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.new_password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.new_password2 }}


                <button id="password-confirm-btn" class="btn" type="submit">Reset Password</button>
            </div>

        </form>

    </section>
{% endblock %}