{% extends 'common/base.html' %}

{% block content %}
    <section id="reset-password-page">
        <form id="reset-password" action="{% url 'password_reset' %}" method="post" enctype="multipart/form-data">
            <h1>Request password reset</h1>
            <div class="reset-password-container">
                {% csrf_token %}
                {{ form }}

                <button id="reset-password-btn" class="btn" type="submit">Submit</button>
            </div>

        </form>

    </section>
{% endblock %}