{% load static %}
{% load get_user_profile %}
{% get_profile as user_profile %}



<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Fishing Portal</title>
</head>
<body>

    {% for message in messages %}
        <div id="message-container">
            <div class="message">{{ message }}</div>
        </div>
    {% endfor %}

    <div class="base-main-container">
        <header>
            <a class="nav-logo" href="{% url 'home' %}"><img
                    src="{% static 'images/app_logo.png' %}" alt=""></a>
            <!-- Navigation -->
            <nav class="nav-content">
                <section>
                    {% if request.user.is_authenticated %}
                        <ul class="nav-links-registered">
                            {% if request.user.is_owner %}
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <li><a class="button" href="{% url 'admin:index' %}">ADMIN</a></li>
                                    <li><a class="button" href="#">LAKES</a></li>
                                    <li><a class="button" href="#">COMPETITIONS</a></li>
                                {% else %}
                                    <li><a class="button" href="{% url 'create_competition' %}">SET COMPETITION</a></li>
                                    <li><a class="button" href="{% url 'create_business' %}">ADD BUSINESS</a></li>
                                    <li><a class="button" href="#">LAKES</a></li>
                                    <li><a class="button" href="#">COMPETITIONS</a></li>
                                {% endif %}
                                {% if user_profile %}
                                    <li id="profile-created">Hi, <span>{{ user_profile.first_name }}</span></li>
                                    <div class="dropdown">
                                        <img id="img-profile" src="{{ user_profile.image_profile.url }}" alt="">
                                        <div class="dropdown-menu">
                                            <div class="dropdown-wrapper">
                                                <a href="{% url 'profile' user.pk %}">Profile</a>
                                                <a href="{% url 'logout' %}">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <li id="no-profile">Hi, <span>{{ request.user }}</span></li>
                                    <div class="dropdown">
                                        <img id="img-profile" src="{% static 'images/default.jpg' %}" alt="">
                                        <div class="dropdown-menu">
                                            <div class="dropdown-wrapper">
                                                <a href="{% url 'profile' user.pk %}">Profile</a>
                                                <a href="{% url 'logout' %}">Logout</a>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            {% else %}
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <li><a class="button" href="{% url 'admin:index' %}">ADMIN</a></li>
                                    <li><a class="button" href="{% url 'create_business' %}">ADD BUSINESS</a></li>
                                    <li><a class="button" href="#">LAKES</a></li>
                                    <li><a class="button" href="#">COMPETITIONS</a></li>
                                {% else %}
                                    <li><a class="button" href="{% url 'create_business' %}">ADD BUSINESS</a></li>
                                    <li><a class="button" href="#">LAKES</a></li>
                                    <li><a class="button" href="#">COMPETITIONS</a></li>
                                {% endif %}
                                {% if user_profile %}
                                    <li id="profile-created">Hi, <span>{{ user_profile.first_name }}</span></li>
                                    <div class="dropdown">
                                        <img id="img-profile" src="{{ user_profile.image_profile.url }}" alt="">
                                        <div class="dropdown-menu">
                                            <div class="dropdown-wrapper">
                                                <a href="{% url 'profile' user.pk %}">Profile</a>
                                                <a href="{% url 'logout' %}">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <li id="no-profile">Hi, <span>{{ request.user }}</span></li>
                                    <div class="dropdown">
                                        <img id="img-profile" src="{% static 'images/default.jpg' %}" alt="">
                                        <div class="dropdown-menu">
                                            <div class="dropdown-wrapper">
                                                <a href="{% url 'profile' user.pk %}">Profile</a>
                                                <a href="{% url 'logout' %}">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </ul>
                    {% else %}
                        <ul class="nav-links-not-registered">
                            <li><a class="button" href="{% url 'about' %}">ABOUT</a></li>
                        </ul>

                    {% endif %}
                </section>
            </nav>
        </header>

        {% block content %}

        {% endblock %}
    </div>
    <footer id="site-footer">
        <p>Python Web Framework</p>
        <div id="footer-container">
            <a class="button" href="{% url 'about' %}">About</a>
            <a class="button" href="#">Contacts</a>
        </div>
    </footer>
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/date_time_picker.js' %}"></script>
</body>
</html>